body{
    background-color: #121212;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 50px 0px;
    margin-left: 100px;
    margin-right: 50px;
    box-sizing: border-box;
    display: flex;
}

h1{
    color: rgba(255, 255, 255, 1);
}
.occupation{
    color: rgba(255, 255, 255, 0.8);  
}
.profile-pic{
    border-radius: 50%;
    width: 200px;
}
.socials .icon{
    width: 30px;
    height: 30px;
    filter: invert(100%);
    padding: 10px;   
}
.socials{
    padding-left: 20px;
}
.contact p{
    display: inline;
    color: rgba(255, 255, 255, 1);
}
.contact div{
    padding: 5px;
}
.contact .icon{
    width: 12px;
    height: 12px;
    filter: invert(100%);
    padding-right: 10px;
}

.socials a {
    display: inline-block;
    transition: transform 0.5s ease;
}

.socials a:hover {
    transform: translateY(-5px);
}
.right-section{
    margin-left: 250px;
}
.right-section h1{
    margin: 20px;
}
.right-section p{
    color: rgba(255, 255, 255, 0.8);
}
.languages-div{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    width: 800px;
}
.languages-div .icon{
    width: 20px;
    height: 20px;
    filter: invert(100%);
    padding: 10px  
}
.languages-div div *{
    width: 100px;
    float:left;
}
.languages-div p{
    line-height: 10px;
}
.description{
    line-height: 5px;
    margin-left: 10px;
}
.logo{
    border-radius: 50%;
    width: 75px;
    margin-left: 20px;
}
.role{
    color: white;
    font-size: 18px;
}
.place-of-work{
    color: rgba(255, 255, 255, 0.8);
    font-size: 13px;
}
.date{
    font-size: 11px
}
.experience-description{
    display: flex;
    
}
.content{
    line-height: 35px;
}
.exp{
    margin-left: 20px;
    border-left: 1.5px  ridge rgba(255, 255, 255, 0.295);
}
li{
    color: rgba(255, 255, 255, 0.8);
}
span{
    color: white;
}
